@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
}

.calculator-block-content-header__img {
    width: 61px;
    height: 79px;
}

.calculator-block {
    font-family: 'Roboto';
    margin: auto;
    width: 1040px;
    height: 1960px;
    background-color: #171717;
}

.calculator-block-content {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.calculator-block-content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calculator-block-content-header > p {
    margin-left: 23px;
    text-transform: uppercase;
    color: white;
    font-size: 66px;
}

.calculator-block-content-logic {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#carPriceSlider {
    width: 100%;
}

.calculator-block-content-logic-item-box {
    width: 100%;
}

.calculator-block-content-logic-item-box:nth-child(1), .calculator-block-content-logic-item-box:nth-child(2) {
    border-bottom: 1px solid #dcdcdc;
}

.calculator-block-content-logic-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 60px 0;
}

.calculator-block-content-logic-item {
    width: 90%;
    margin: auto;
}

.calculator-block-content-logic-item-price-input {
    width: 285px;
    height: 86px;
    border-radius: 10px;
    background-color: #dcdcdc;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: right;
}

.calculator-block-content-logic-item-price-input > input {
    border: none;
    outline: none;
    width: 90%;
    font-size: 36px;
    font-family: 'Roboto';
    background: transparent;
    text-align: right;
}

.calculator-block-content-logic-item-price-input > * {
    padding-right: 10px;
}

.calculator-block-content-logic-item-price-input > span {
    color: #585656;
    font-size: 36px;
    padding-right: 40px;
}

.calculation-slider {
    width: 100%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.22);
    border: none !important;
}

.ui-slider-handle {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    background-color: #dcdcdc !important;
    top: -12px !important;
    border: 11px solid #ffe700 !important;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.22) !important;
}

.ui-widget-content {
    background-color: #dcdcdc !important;
}

.ui-widget-header {
    background-color: #ffe700 !important;
}

.ui-slider-horizontal {
    height: 13px !important;
}

.calculator-block-content-logic-item-row > p {
    margin-right: 14px;
    font-size: 36px;
}

.calculator-block-content-logic-item-row > span {
    margin-left: 14px;
}

.slider-add-subtract {
    font-size: 42px !important;
}


.calculator-block-content-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.calculator-block-content-result > p {
    margin-top: 60px;
    color: white;
    font-size: 27px;
    text-align: center;
}

.calculator-block-content-result-nums {
    width: 100%;
    height: 310px;
    border-radius: 10px;
    background-color: #e4e1dc;
}

.calculator-block-content-result::after {
    content: ' ';
    position: absolute;
    border: 40px solid transparent; 
    border-bottom: 40px solid #e4e1dc;
    top: -80px;
    left: 50px;
}

.calc-results-box {
    width: 90%;
    height: 90%;
    display: flex;
    margin: auto;
    margin-top: 35px;
    flex-direction: column;
}

.calc-results-header {
    font-size: 50px;
}

.calculator-block-content-result-nums__button {
    width: 470px;
    height: 115px;
    border-radius: 10px;
    background-color: #ffe700;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.calc-results-numbers {
    height: 60%;
    margin-top: 20px;
    display: grid;
    grid-gap: 6px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1.5fr 0.5fr 0.3fr;
}

.calc-results-numbers > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-weight: 700;
    font-size: 38px;
}

.calc-results-numbers > p {
    font-size: 36px;
    display: flex;
    align-items: center;
}

.calc-results-numbers > p:nth-child(3n) {
    font-size: 38px;
    font-weight: 700;
}

.wrong-input {
    transition: top 1s ease-out 0.5s;
    box-shadow: 0 0 3px 1px red;
}